* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
    grid-area: main;
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
    grid-area: header;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}
/* #experience-grid
{
    grid-area: experience;
display: grid;
grid-template-columns: 1fr;
grid-template-areas:
"experience web"
"database design";
grid-row-gap: 20px;
grid-column-gap: 20px;
} */
main#main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "headline headline picture"
    "quote quote picture"
    "profile profile contact"
    "experience experience experience";
    grid-row-gap:20px;
    grid-column-gap:50px;
}
@media screen and (max-width: 1024px) {
main#main-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "headline headline picture"
    "quote quote picture"
    "profile profile contact"
    "experience experience experience";
        
 }
}

#experience-grid
{
    grid-area: experience;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas:
"code code"
"database database"
"web design";
grid-row-gap: 20px;
grid-column-gap: 20px;
}
#student-contact{
     grid-area: contact;
 }
 main h1#headline{
     grid-area: headline;
 }
 div#student-picture{
     grid-area: picture;
 }
 #student-quote{
     grid-area: quote;
 }
 main#experience-grid{
     grid-area: experience;
 }
 #student-profile{
     grid-area: profile;
 }
 #experience-code{
grid-area: code;
 }
 #experience-database{
    grid-area: database;
     }
     #experience-web{
        grid-area: web;
         }
         #experience-design{
            grid-area: design;
             }
 /* #student-picture > img
#student-picture
{
    text-align: center;
    
}
#student-contact
{
    
    text-align: center;
}
#student-quote
{
    
}
div, experience-code
{
grid-area: code;
}
div, experience-database
{
    grid-area: database;
}

 div, experience-web

{
grid-area: web;
}
div, #experience-design
{
grid-area: design;
}
#maingrid.headline{
grid-area: headline;
} */
